[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "Plugins"]
	path = Plugins
	url = https://github.com/CorkHQ/Plugins.git
[submodule "vendor/plugins"]
	path = vendor/plugins
	url = https://github.com/CorkHQ/Plugins.git
